@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Ubuntu&display=swap');

/* 
body{
    z-index: -3;
    background: #12263f url(./assets/img/stars.fcaa1cfc.svg) repeat top;
} */

/* 
.twinkling{
    z-index: -2;
    background: transparent url(./assets/img/download.png) repeat top;
    animation: gradient 50s linear infinite;
animation-direction: alternate;

    width: 100vw;
    height: 100vh;
} */
/* 
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
} */

.containerLogin{
    z-index: 3;
    background-color: #0b3045;
    opacity: 0.8;
    border-radius: 30px;
    color: white;
    position: absolute;
    top: 20%;
}

/**Responsive CSS**/

@media only screen and (min-width:1000px) {
    .containerLogin{
        width: 40%;
        left: 29%;
        padding:26px 73px;
    }
}

@media only screen and (min-width:800px) and (max-width: 1000px) {
    .containerLogin{
        width: 43%;
        left: 26%;
        padding:26px 73px;
    }
}

@media only screen and (min-width:675px) and (max-width: 800px) {
    .containerLogin{
        width: 60%;
        left: 21%;
        padding:26px 55px;
        /* padding:26px 73px; */
    }
}


@media only screen and (max-width:675px) and (min-width: 506px) {
    .containerLogin{
        width: 65%;
        left: 18%;
        padding:26px 45px;
    }
}

@media only screen and (max-width:506px) and (min-width: 450px) {
    .containerLogin{
        width: 70%;
        left: 11%;
        padding:26px 40px;
    }
}

@media only screen and (max-width:450px) and (min-width: 405px) {
    .containerLogin{
        width: 76%;
        left: 12%;
        padding:26px 35px;
    }
}

@media only screen and (max-width:405px) and (min-width: 289px) {
    .containerLogin{
        width: 80%;
        left: 10%;
        padding:26px 20px;
    }
}

@media only screen and (max-width:288px) and (min-width: 264px) {
    .containerLogin{
        width: 90%;
        left: 12.5%;
        padding:26px 14px;
    }
}
@media only screen and (max-width:263px) and (min-width: 250px) {
    .containerLogin{
        width: 90%;
        left: 15%;
        padding:26px 14px;
    }
}





.containerLogin h1{
    font-family: 'Ubuntu', sans-serif;
    color: #abd5ea;
    width: 50%;
    display: inline-block;
    font-size:40px;
    border-bottom:5px solid #2784b3;
    margin-bottom: 15px;
    padding: 13px 0;
}

.box{
    width: 100%;
    border-bottom: 2px solid #2784b3;
    margin: 23px 0;
}

.box input{
    font-family: 'Montserrat', sans-serif;
    background: none;
    width: 75%;
    padding: 5px 10px;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
}

.box i{
    width: 25px;
    text-align: center;
}

.box2{
    width: 100%;
    /* border-bottom: 2px solid #2784b3; */
    margin: 23px 0;
}

.box2 p a{
    text-decoration: none;
    color: #2784b3
}

.btnlog{
    color: white;
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 21px;
    border: 2px solid #2784b3;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
}

.btnlog:hover{
    opacity: 0.5;
    color: #000000;
    box-shadow: 0px 0px 50px #006eff;
    background: rgb(0, 119, 255);
}

.mt{
    /* z-index: -1; */
    position: absolute;
    top: 40%;
    width: 100%;
    height: 60%;
    background:url(../Images/mtpnggg.6f60f7c9.png) ;
    background-size: cover;
}

.lowerpage{
    position: absolute;
    top: 700px !important;
}

