@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@200&family=Ubuntu&display=swap');

/* *{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
} */

/* body{
    z-index: -3;
    background: #12263f url(./assets/img/stars.fcaa1cfc.svg) repeat top;
    background-attachment: fixed;
    padding-bottom: 900px;
} */


/* .twinkling{
    z-index: -2;
    background: transparent url(./assets/img/download.png) repeat top;
    animation: gradient 50s linear infinite;
animation-direction: alternate;
background-attachment: fixed;

    width: 100vw;
    height: 100vh;
} */

/* @keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
} */

.containersign{
    z-index: 3;
    background-color: #0b3045;
    opacity: 0.8;
    border-radius: 30px;
    color: white;
    position: relative;
    top: 100px;
    background-attachment: fixed;
    margin-bottom: 200px;
    text-align: left;
}

/**Responsive CSS**/

@media only screen and (min-width:1000px) {
    .containersign{
        width: 50%;
        left: 25%;
        padding:26px 73px;
    }
}

@media only screen and (min-width:800px) and (max-width: 1000px) {
    .containersign{
        width: 53%;
        left: 26%;
        padding:26px 73px;
    }
}

@media only screen and (min-width:675px) and (max-width: 800px) {
    .containersign{
        width: 60%;
        left: 19%;
        padding:26px 55px;
        /* padding:26px 73px; */
    }
}


@media only screen and (max-width:675px) and (min-width: 506px) {
    .containersign{
        width: 75%;
        left: 12%;
        padding:26px 45px;
    }
}

@media only screen and (max-width:506px) and (min-width: 450px) {
    .containersign{
        width: 80%;
        left: 11%;
        padding:26px 40px;
    }
}

@media only screen and (max-width:450px) and (min-width: 405px) {
    .containersign{
        width: 86%;
        left: 7.5%;
        padding:26px 35px;
    }
}

@media only screen and (max-width:405px) and (min-width: 289px) {
    .containersign{
        width: 85%;
        left: 8%;
        padding:26px 20px;
    }
}

@media only screen and (max-width:289px) and (min-width: 250px) {
    .containersign{
        width: 90%;
        left: 15%;
        padding:26px 14px;
    }
}





.containersign h1{
    font-family: 'Ubuntu', sans-serif;
    color: #abd5ea;
    width: 60%;
    display: flex;
    flex-direction: column;
    font-size:40px;
    border-bottom:5px solid #2784b3;
    margin-bottom: 15px;
    padding: 13px 0;
}

.box{
    width: 100%;
    border-bottom: 2px solid #2784b3;
    margin: 23px 0;
}

.box input{
    font-family: 'Montserrat', sans-serif;
    background: none;
    width: 75%;
    padding: 5px 10px;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
}

.box i{
    width: 25px;
    text-align: center;
}

.box2{
    width: 100%;
    /* border-bottom: 2px solid #2784b3; */
    margin: 23px 0;
}

.box2 p a{
    text-decoration: none;
    color: #39bdff
}

.box2 p{
    font-family: 'Lato', sans-serif;

}

.btnsign{
    color: white;
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 21px;
    border: 2px solid #2784b3;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
}

.btnsign:hover{
    opacity: 0.5;
    color: #000000;
    box-shadow: 0px 0px 50px #006eff;
    background: rgb(0, 119, 255);
}

.mt{
    /* z-index: -1; */
    position: fixed;
    top: 40%;
    width: 100%;
    height: 60%;
    background:url(../Images/mtpnggg.6f60f7c9.png) ;
    background-size: cover;
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -170px 280px;
}

label{
    font-family: 'Lato', sans-serif;
    display: block;
}

.chklabel{
    display: inline;
}

.footpage{
    position: absolute;
    z-index: 3;
}

@media screen and (min-width:934px){
    .footpage{
        top: 1600px;
    }
}
@media screen and (max-width:933px) and (min-width:372px){
    .footpage{
        top: 1700px;
    }
}
@media screen and (max-width:371px){
    .footpage{
        top: 1850px;
    }
}

@media only screen and (max-width: 430px) {
    .containersign h1{
        width:90%;
    }
}

.containersign span{
    font-size: 1.2rem;
    margin-top: 10px;
}
